<!DOCTYPE html>
<html>

<head>
  <title>Academics</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
  <script>
    function myFunction() {
      var x = document.getElementById("nav");
      if (x.className === "nav") {
        x.className += " responsive";
      } else {
        x.className = "nav";
      }
    }
  </script>
</head>

<body>
  <div id="aca-div">
    <div id="childfind">
      <a href="../internal/childfind.html" style="text-decoration:none;">
        <section class="section">
          <h1 class="headers">Annual Child Find Notice</h1>
        </section>
      </a>
    </div>
    <div id="courses">
      <a href="/Users/shayarsenault/Desktop/Dev/WD/FCHS/html/internal/board.html" style="text-decoration:none;">
        <section class="section">
          <h1 class="headers">Course Catalog</h1>
          <p class="description">See what courses we offer.</p>
        </section>
      </a>
    </div>
    <div id="music">
      <a href="https://www.fchsmusic.org/" style="text-decoration:none;" target="_blank">
        <section class="section">
          <h1 class="headers">Music Department</h1>
          <p class="description">Redirects to the music department's website.</p>
        </section>
      </a>
    </div>
    <div id="satschool">
      <a href="/Users/shayarsenault/Desktop/Dev/WD/FCHS/html/internal/ptca.html" style="text-decoration:none;">
        <section class="section">
          <h1 class="headers">Saturday School</h1>
          <p class="description">See when saturday school is.</p>
        </section>
      </a>
    </div>
  </div>
</body>

</html>