<!DOCTYPE html>
<html>

<head>
  <title>Bell Schedule</title>
  <link rel="stylesheet" type="text/css" href="../style.css">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
  <script>
    function myFunction() {
      var x = document.getElementById("nav");
      if (x.className === "nav") {
        x.className += " responsive";
      } else {
        x.className = "nav";
      }
    }
  </script>
</head>

<body>
  <div id="bell">
    <h1>2017-18 Bell Schedule</h1>
    <hr id="bell-hr" />
    <p>
      8:05 Bell to First Period
    </p>
    <p>
      8:15 Tardy Bell for First Period
    </p>
    <p>
      8:15-9:10 First period (with announcements)
    </p>
    <p>
      9:14-10:04 2nd Period
    </p>
    <p>
      10:08-10:58 3rd Period
    </p>
    <p>
      11:02-11:52 4th Period
    </p>
    <p>
      11:52-12:17 1st Lunch
    </p>
    <p>
      11:56-12:46 1st 5th Period
    </p>
    <p>
      12:46-1:11 2nd Lunch
    </p>
    <p>
      12:21-1:11 2nd 5th Period
    </p>
    <p>
      1:15-2:05 6th Period
    </p>
    <p>
      2:09-2:59 7th Period
    </p>
    <br/>
    <h1>2017-2018 Homeroom Schedule</h1>
    <hr id="bell-hr" />
    <p>
      8:05 Bell to First Period
    </p>
    <p>
      8:15 Tardy Bell for First Period
    </p>
    <p>
      8:15-9:00 First Period
    </p>
    <p>
      9:04-9:19 Homeroom
    </p>
    <p>
      9:23-10:08 2nd Period
    </p>
    <p>
      10:12-10:58 3rd Period
    </p>
    <p>
      Back to Regular Schedule for 4th Period
    </p>
    <br/>
    <br/>
  </div>
</body>

</html>