<!DOCTYPE html>
<html>

<head>
  <title>Board of Directors</title>
  <link rel="stylesheet" type="text/css" href="../style.css">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
  <script>
    function myFunction() {
      var x = document.getElementById("nav");
      if (x.className === "nav") {
        x.className += " responsive";
      } else {
        x.className = "nav";
      }
    }
  </script>
</head>

<body>
  <div id="main">
    <div>
      <h2 id="bod-title">
        <span>Board of Directors</span>
      </h2>
    </div>
    <p id="names">To contact our Board of Directors please call Terri Mayson at (803) 613-9435 or email: tmayson@foxcreekhighschool.org</p>
    <p id="names">
      <span id="dir-title">President:</span> Greg Hurt</p>
    <p id="names">
      <span id="dir-title">Vice President:</span> Michael Ray</p>
    <p id="names">
      <span id="dir-title">Secretary:</span> Tom Cotton</p>
    <p id="names">
      <span id="dir-title">Treasurer:</span> Deadra Oliver</p>
    <p id="names">
      <span id="dir-title">Director:</span> Brad Whitfield</p>
    <p id="names">
      <span id="dir-title">Director:</span> Roby Gillespie</p>
    <p id="names">
      <span id="dir-title">Director:</span> Greg Shaffer</p>
  </div>
  <div id="docs">
    <div id="board-div">
      <hr id="board-hr" />
    </div>
    <ul>
      <li id="downloads">
        <a href="/Users/shayarsenault/Downloads/Fox-Creek-Bylaws-2014.doc" download>By Laws</a>
      </li>
      <li id="downloads">
        <a href="https://drive.google.com/drive/u/0/folders/0B8p7PPc6k9jlcXpGc2VldXFSUmc">Board Minutes</a>
      </li>
      <li id="downloads">
        <a href="https://drive.google.com/drive/folders/0B8p7PPc6k9jld2FsSE9KNDk2R1U">Policies/Procedures</a>
      </li>
    </ul>
    <div id="board-div">
      <hr id="board-hr" />
    </div>
  </div>
  <div id="dates">
    <h1>Proposed Meeting Schedule and Important Dates for 2017-2018</h1>
    <p>August 28</p>
    <p>September 25</p>
    <p>October 30</p>
    <p>November 27</p>
    <p>December 18</p>
    <p>January 29</p>
    <p>February 26</p>
    <p>March 26</p>
    <p>April 30</p>
    <p>May 21</p>
    <p>June 25</p>
    <p>July 30</p>
    <p>April 09: BOD Applications accepted 7:00 a.m.</p>
    <p>April 20: BOD Application deadline 4:00 p.m.</p>
    <p>May 10: BOD Election (second Thursday) & Supporting Organization Elections</p>
    <p>May 17: BOD Runoff Election (if needed)</p>
    <p>*Approved 7/31/17</p>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

  </div>
</body>

</html>