<!DOCTYPE html>
<html>

<head>
    <title>Academics</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
    <script>
        function myFunction() {
            var x = document.getElementById("nav");
            if (x.className === "nav") {
                x.className += " responsive";
            } else {
                x.className = "nav";
            }
        }
    </script>
</head>

<body>
    <div class="cfdiv">
        <br/>
        <h1>SOUTH CAROLINA PUBLIC CHARTER SCHOOL DISTRICT</h1>
        <h1>FOX CREEK HIGH SCHOOL</h1>
        <h1>ANNUAL NOTICE OF CHILD FIND</h1>
        <p>
            Upon request, Fox Creek High School is required to evaluate a child for eligibility for special education services. A request
            for evaluation is known as a referral. When the school receives a referral, the school will an Evaluation Planning
            team to determine if the child has a disability, and if the child needs special education services. The school
            locates, identifies, and evaluates all children with disabilites who are enrolled by their parents in school
            within the school district.
        </p>
        <p>
            A school staff member who reasonably believes a child may be a child with a disability has a legal duty to refer the child,
            including a homeless child or a child advancing from grade to grade, to the school in which the child is enrolled.
        </p>
        <p>
            Referrals must be in writing and include the reason why the person believes the child is a child with a disability. A referral
            may be made by contacting Lucia Moraru, School Special Education Coordinator, at 803-613-9435 or by writing her
            at 165 Shortcut Road, North Augusta, SC 29860.
        </p>
    </div>
</body>

</html>