<!DOCTYPE html>
<html>

<head>
  <title>Contact</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
  <script>
    function myFunction() {
      var x = document.getElementById("nav");
      if (x.className === "nav") {
        x.className += " responsive";
      } else {
        x.className = "nav";
      }
    }
  </script>
</head>

<body>
  <div id="contact">
    <br />
    <h2>Fox Creek High School
      <h2>165 Shortcut Road</h1>
        <h2>North Augusta, SC 29860</h1>
          <h2>Office Hours: M-F 7:30am - 3:30pm</h1>
            <h3>Phone: 803-613-9435</h3>
            <h3>Fax: 803-613-1533</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3322.8977003668074!2d-81.94218338428394!3d33.60795868072913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f834118d47c441%3A0x11d7a3dede32ab74!2sFox+Creek+High+School!5e0!3m2!1sen!2sus!4v1514917803667"
              width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</body>

</html>