<!DOCTYPE html>
<html>

<head>
  <title>Bell Schedule</title>
  <link rel="stylesheet" type="text/css" href="../style.css">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
  <script>
    function myFunction() {
      var x = document.getElementById("nav");
      if (x.className === "nav") {
        x.className += " responsive";
      } else {
        x.className = "nav";
      }
    }
  </script>
</head>

<body>
  <div id="reqs">
    <h1>Graduation Requirements</h1>
    <p>
      <span>4</span> English</p>
    <p>
      <span>4</span> Math</p>
    <p>
      <span>½</span>Economics</p>
    <p>
      <span>½</span> Government</p>
    <p>
      <span>3</span> Science </p>
    <p>
      <span>1</span> Social Studies Elective</p>
    <p>
      <span>1</span> PE or ROTC</p>
    <p>
      <span>1</span> US History</p>
    <p>
      <span>1</span> Computer Science to include Keyboarding</p>
    <p>
      <span>7</span> Electives</p>
    <p>
      <span>1</span> additional elective must be in Foreign Language or a Career & Technology Course.</p>
    <p>Check your transcripts. Be sure that all courses are listed and that your name is spelled correctly. Errors should be
      reported to Mrs. Smiley in writing immediately.</p>
    <h1>College Prep Requirements for 4 Year Public Colleges in South Carolina</h1>
    <h2>*These are not the graduation requirements but the requirements for admission to college.</h2>
    <p>
      <span>4</span> CP English</p>
    <p>
      <span>4</span> Math (The 4th Math must be a higher level math such as Pre Calculus or Statistics.)</p>
    <p>
      <span>3</span>Lab Sciences to include Biology and Chemistry – the 3rd lab science must have Biology or Chemistry as a prerequisite.
      Physical Science is not a lab science. </p>
    <p>
      <span>2</span> Units of the same forein language</p>
    <p>
      <span>3</span> Units of Social Science including US History, Economics and Government </p>
    <p>
      <span>1</span> Unit of Fine Arts</p>
    <p>
      <span>1</span> PE or ROTC</p>
    <p>
      <span>1</span> Unit as an elective such as: Computer Science or an additional English, Fine Arts, Foreign Language, Social
      Science, Lab Science, or Math above the level of Algebra 2.</p>
    <p>Individual colleges may have additional requirements.</p>
    <p>Mrs. Smiley’s email address: dsmiley@foxcreekhighschool.org</p>
  </div>
</body>

</html>