<!DOCTYPE html>
<html>

<head>
  <title>Our School</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
  <script>
    function myFunction() {
      var x = document.getElementById("nav");
      if (x.className === "nav") {
        x.className += " responsive";
      } else {
        x.className = "nav";
      }
    }
  </script>
</head>

<body>
  <div id="links">
    <div id="staffdir">
      <a href="../internal/staff.html" style="text-decoration:none;">
        <section class="section">
          <h1 class="headers">Staff Directory</h1>
          <p class="description">Access a staff member's website, email, and more.</p>
        </section>
      </a>
    </div>
    <div id="boarddir">
      <a href="/Users/shayarsenault/Desktop/Dev/WD/FCHS/html/internal/board.html" style="text-decoration:none;">
        <section class="section">
          <h1 class="headers">Board of Directors</h1>
          <p class="description">See the school's board members and meeting dates.</p>
        </section>
      </a>
    </div>
    <div id="jobs">
      <a href="/Users/shayarsenault/Desktop/Dev/WD/FCHS/html/internal/careers.html" style="text-decoration:none;">
        <section class="section">
          <h1 class="headers">Careers</h1>
          <p class="description">Work with great people and students.</p>
        </section>
      </a>
    </div>
    <div id="ptca">
      <a href="/Users/shayarsenault/Desktop/Dev/WD/FCHS/html/internal/ptca.html" style="text-decoration:none;">
        <section class="section">
          <h1 class="headers">PTCA</h1>
          <p class="description">Parent Teacher Community Association.</p>
        </section>
      </a>
    </div>
    <div id="toty">
      <a href="/Users/shayarsenault/Desktop/Dev/WD/FCHS/html/internal/toty.html" style="text-decoration:none;">
        <section class="section">
          <h1 class="headers">Teacher & Professional of the Year</h1>
          <p class="description">See the current and the past Teacher & Professional of the Year winners.</p>
        </section>
      </a>
    </div>
  </div>
</body>

</html>