<!DOCTYPE html>
<html>

<head>
  <title>PTCA</title>
  <link rel="stylesheet" type="text/css" href="../style.css">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
  <script>
    function myFunction() {
      var x = document.getElementById("nav");
      if (x.className === "nav") {
        x.className += " responsive";
      } else {
        x.className = "nav";
      }
    }
  </script>
</head>

<body>
  <div>
    <h1 id="ptca-title">Parent Teacher Community Association</h1>
    <p id="ptca-desc">
      <span>President:</span> Denise Jackson</p>
    <p id="ptca-desc">
      <span>Vice President:</span> Leigh Leapard</p>
    <p id="ptca-desc">
      <span>Treasurer:</span> Sherry Malcom</p>
    <p id="ptca-desc">
      <span>Secretary:</span> Shannon Shaffer</p>
    <p id="ptca-desc">
      <span>Media Secretary:</span> Shanna Gamash</p>
    <p id="ptca-desc">
      <span>Teacher Rep.:</span> Brittany Davis</p>
    <h1 id="bl-link">
      <a href="https://docs.wixstatic.com/ugd/e9eb13_3503a2e3a7714b5a84895da55d5363f2.pdf" target="_blank">By Laws</a>
    </h1>
  </div>
</body>

</html>