<!DOCTYPE html>
<html>

<head>
  <title>Teacher of the Year</title>
  <link rel="stylesheet" type="text/css" href="../style.css">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
  <script>
    function myFunction() {
      var x = document.getElementById("nav");
      if (x.className === "nav") {
        x.className += " responsive";
      } else {
        x.className = "nav";
      }
    }
  </script>
</head>

<body>
  <h1 id="toty-title">Teacher of the year</h1>
  <div class="pictures">
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
  </div>
  <div class="align-english">
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
  </div>
  <h1 id="toty-title">Professional of the year</h1>
  <div class="pictures">
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
  </div>
  <div class="align-english">
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
    <div>
      <p>PHOTO HERE</p>
      <p>NAME HERE</p>
    </div>
  </div>
</body>

</html>