<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> Fox Creek High School</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
	<script>
		function myFunction() {
			var x = document.getElementById("nav");
			if (x.className === "nav") {
				x.className += " responsive";
			} else {
				x.className = "nav";
			}
		}
	</script>
</head>
<body>
	<div class="news">
		<section class="articles">
			<h3>Congrats to the baseball team!</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula massa, aliquet vel dui at, blandit feugiat nibh.
				Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque viverra sem vitae tortor
				tempus, ut mattis ligula euismod. Vivamus consectetur ac felis eget facilisis. Nunc eros velit, malesuada a porttitor
				et, bibendum at mi. Donec ornare, nisi eget efficitur interdum, risus nibh ultricies ligula, et bibendum elit dui in
				justo. Mauris id imperdiet odio. Aliquam maximus neque ut fermentum scelerisque. Mauris neque enim, rutrum eu imperdiet
				sit amet, molestie id velit. Aenean porta fermentum erat et luctus. Duis tincidunt nisi ac ipsum egestas volutpat. Praesent
				at blandit felis, vitae vehicula arcu. Donec vel est sem. In mollis auctor augue, nec sodales risus dictum nec. Aenean
				vel nulla purus.</p>
			<hr/>
			<h3>Half day 12/12</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula massa, aliquet vel dui at, blandit feugiat nibh.
				Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque viverra sem vitae tortor
				tempus, ut mattis ligula euismod. Vivamus consectetur ac felis eget facilisis. Nunc eros velit, malesuada a porttitor
				et, bibendum at mi. Donec ornare, nisi eget efficitur interdum, risus nibh ultricies ligula, et bibendum elit dui in
				justo. Mauris id imperdiet odio. Aliquam maximus neque ut fermentum scelerisque. Mauris neque enim, rutrum eu imperdiet
				sit amet, molestie id velit. Aenean porta fermentum erat et luctus. Duis tincidunt nisi ac ipsum egestas volutpat. Praesent
				at blandit felis, vitae vehicula arcu. Donec vel est sem. In mollis auctor augue, nec sodales risus dictum nec. Aenean
				vel nulla purus.</p>
			<hr/>
			<h3>Play tomorrow 6:30</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula massa, aliquet vel dui at, blandit feugiat nibh.
				Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque viverra sem vitae tortor
				tempus, ut mattis ligula euismod. Vivamus consectetur ac felis eget facilisis. Nunc eros velit, malesuada a porttitor
				et, bibendum at mi. Donec ornare, nisi eget efficitur interdum, risus nibh ultricies ligula, et bibendum elit dui in
				justo. Mauris id imperdiet odio. Aliquam maximus neque ut fermentum scelerisque. Mauris neque enim, rutrum eu imperdiet
				sit amet, molestie id velit. Aenean porta fermentum erat et luctus. Duis tincidunt nisi ac ipsum egestas volutpat. Praesent
				at blandit felis, vitae vehicula arcu. Donec vel est sem. In mollis auctor augue, nec sodales risus dictum nec. Aenean
				vel nulla purus.</p>
		</section>
	</div>

</body>

</html>