<!DOCTYPE html>
<html>

<head>
  <title>Quick Links</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
  <script>
    function myFunction() {
      var x = document.getElementById("nav");
      if (x.className === "nav") {
        x.className += " responsive";
      } else {
        x.className = "nav";
      }
    }
  </script>
</head>

<body>
  <div id="links">
    <div id="pwrschool">
      <a href="https://scpcsd.powerschool.com/public/home.html" target="_blank" style="text-decoration:none;">
        <section class="section" id="section">
          <h1 class="headers">Powerschool Parent Portal</h1>
          <p class="description">Check your childs grades, attendance, and more.</p>
        </section>
      </a>
    </div>
    <div id="pwrteacher">
      <a href="https://scpcsd.powerschool.com/teachers/pw.html" target="_blank" style="text-decoration:none;">
        <section class="section" id="section">
          <h1 class="headers">Powerteacher Portal</h1>
          <p class="description">Take attendance, submit grades, and more. </p>
        </section>
      </a>
    </div>
    <div id="tchr">
      <a href="https://drive.google.com/drive/folders/0B8p7PPc6k9jlRFVWOFRRYjU4QWM" id="tchr-link" style="text-decoration:none;">
        <section class="section"  id="section">
          <h1 class="headers">Teacher's Lounge</h1>
          <p class="description">Everything a teacher needs, here.</p>
        </section>
      </a>
    </div>
    <div id="clubs">
      <a href="https://docs.wixstatic.com/ugd/e9eb13_c69d4c81d9254261ac38db80a406bb00.pdf" id="clubs-link" style="text-decoration:none;"
        target="_blank">
        <section class="section"  id="section">
          <h1 class="headers">Clubs & Activities</h1>
          <p class="description">See what clubs interest you.</p>
        </section>
      </a>
    </div>
    <div id="press">
      <a href="#" id="press-link" style="text-decoration:none;">
        <section class="section"  id="section">
          <h1 class="headers">Predator Press</h1>
          <p class="description">See what we're writing about.</p>
        </section>
      </a>
    </div>
    <div id="rencrew">
      <a href="https://sites.google.com/foxcreekstudents.org/rencrew/home" id="rencrew-link" style="text-decoration:none;" target="_blank">
        <section class="section"  id="section">
          <h1 class="headers">Renaissance Crew</h1>
          <p class="description">Learn more about Josten's Reinassance Crew</p>
        </section>
      </a>
    </div>
    <div id="cal">
      <a href="#" id="cal-link" style="text-decoration:none;">
        <section class="section"  id="section">
          <h1 class="headers">Academic Calander</h1>
          <p class="description">See the dates for important tests and missed days.</p>
        </section>
      </a>
    </div>
    <div id="bells">
      <a href="../internal/bellschedule.html" id="bell-link" style="text-decoration:none;">
        <section class="section"  id="section">
          <h1 class="headers">Bell Schedule</h1>
          <p class="description">See when your class starts and ends.</p>
        </section>
      </a>
    </div>

  </div>
  <div id="calendar">
    <h1>Weekly Calander</h1>
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;mode=AGENDA&amp;height=450&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=shayarsenault1%40gmail.com&amp;color=%231B887A&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FNew_York"
      style="display: block; margin: 0 auto; border: 0;" width=400 height=450 frameborder="0" scrolling="no"></iframe>
  </div>
</body>

</html>